/* styles for the elements */
label {
    margin-right: 1em;
    float: left;
    width: 9em;
}

/* styles for the class selectors */
.button {
    margin-top: 1.5em;
    padding: .25em .5em;
    width: 11em;
}
.validator {
    color: red;
}
/* styles for the ID selectors */
#lblMessage {
    color: green;
}